<h1>Editing available field</h1>

<%= render 'form' %>

<%= link_to 'Available fields list', parser_path(@parser), :class=>"crud_button btn_list" %><%= link_to 'Show', @available_field, :class=>"crud_button btn_show" %>
