<h1>Editing result</h1>

<%= render 'form' %>

<%= link_to 'Back', site_results_path(@site), :class=>"crud_button btn_back" %>
<%= link_to 'Show', site_result_path( @site, @result), :class=>"crud_button btn_show" %>