<h1>Editing field</h1>

<%= render 'form' %>

<%= link_to 'Fields list', site_path(@site), :class=>"crud_button btn_list"%><%= link_to 'Show', site_xpath_path(@site, @xpath), :class=>"crud_button btn_show" %>