<h1>Editing site</h1>

<%= render 'form' %>

<%= link_to 'Sites list', sites_path, :class=>"crud_button btn_list" %><%= link_to 'Show', @site, :class=>"crud_button btn_show" %><%= link_to 'Fields', site_xpaths_path(@site), :class=>"crud_button btn_fields" %>